.button-dice {
    -fx-padding: 0.9em 0.9em;
    -jfx-button-type: bold;
    -fx-background-color: rgb(159, 0, 0);
    -fx-text-fill: WHITE;
    -fx-background-radius: 50;
    -fx-border-color: rgb(130, 0, 0);
    -fx-border-width: 3;
    -fx-border-radius: 43;
}
.button-dice:hover {
    -fx-background-color: rgb(130, 0, 0);
    -fx-border-color: rgb(100, 0, 0);
}

.button-dice:pressed {
    -fx-background-color: rgb(170, 0, 0);
    -fx-border-color: rgb(150, 0, 0);
}

.button-menu {
    -fx-padding: 0.4em 0.4em;
    -jfx-button-type: bold;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: WHITE;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-border-radius: 10;
}

.button-menu:hover {
    -fx-background-color: rgba(150, 150, 150, 0.2);
    -fx-border-color: rgb(200, 200, 200);
}

.button-menu:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-color: rgb(250, 250, 250);
}

.effects-label{
    -fx-border-color: rgb(101, 67, 33);
    -fx-border-width: 5;
    -fx-background-radius: 29;
    -fx-border-radius: 25;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.slider-menu {
    -fx-padding: 1;
}

.slider-menu .track {
    -fx-border-color: rgb(101, 67, 33);
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-border-radius: 30;
}

.slider-menu .thumb {
    -fx-background-color: rgb(101, 67, 33);
}
.slider-menu .tick-label {
    -fx-text-fill: tansparent;
}

.scroll-pane-menu{
    -fx-background-color: rgb(0, 70, 0);
}

.scroll-pane-menu .viewport {
    -fx-opacity: 1;
}

.scroll-pane-menu .viewport {
    -fx-background-color: rgb(0, 70, 0);
    -fx-opacity: 1;
}

